@media (min-width: 320px) {
  .stacks-container h2 {
    margin: 2rem;
  }
  .stacks {
    background-color: var(--red-primary);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
    justify-self: stretch;
    padding: 2rem;
    & > * {
      background-color: white;
      grid-column-end: span 2;
      padding: 1rem;
    }
  }
}
